
* {
  background-color: black;
  color: white;
}
.carousel-img{
  z-index: 3;
}
/* header */
.shadow-lg{
  position: sticky;
  top: 0;
  z-index: 100;
}

.Logo {
  width: 200px;
  height: 100px;
}
.Home {
  width: 200px;
  height: 100px;
  margin-left: -10px;
  margin-right: -30px

}
.Events {
  width: 200px;
  height: 100px;
  margin-left: -10px;
  margin-right: -30px
}
.SignIn {
  width: 200px;
  height: 100px;
  margin-left: -10px;
  margin-right: -30px
}
.SignUp {
  width: 200px;
  height: 100px;
  margin-left: -10px;
  margin-right: -30px
}
.Create {
  width: 200px;
  height: 100px;
  margin-left: -10px;
  margin-right: -30px
}
.MyEv{
  width: 200px;
  height: 100px;
  margin-left: -10px;
  margin-right: -30px
}
.SignOut{
  width: 200px;
  height: 100px;
  margin-left: -75px;
  margin-right: -30px
}
.Save{
  width: 200px;
  height: 100px;
}
.Delete{
  width: 200px;
  height: 100px;
}
.plx1 {
  object-fit: cover;
}
.background_img {
  width: 100%;
  height: 700px;
}
/* header */

/* landing-page */
.web-features{
  background-image: linear-gradient(to top left, #CB5DCD, #4171BF);
  height: 450px;
  width: 70%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 15px;
  margin-left: 15%;
  margin-top: 100px;
  border-radius: 10px;
}

.web-features p {
  text-align: center;
  padding: 15px;
  background: transparent;
}
.upcoming-events{
  background: transparent;
  display: flex;
  justify-content: center;
}

.landing-page-h1-h2-h4 {
  text-align: center;
  padding: 15px;
  background: transparent;
  font-size: 30px;
  font-weight: bold;
  color: #fff;
  text-shadow: 0 0 20px #00ff00;
}

.concert-envy-meter{
  background-image: linear-gradient(to top left, #CB5DCD, #4171BF);
  height: 350px;
  width: 60%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 15px;
  margin-top: 50px;
  margin-left: 20%;
  border-radius: 10px;
}

.dev-team{
  background-image: linear-gradient(to top left, #CB5DCD, #4171BF);
  height: 500px;
  width: 70%;
  margin-left: 15%;
  margin-top: 50px;
  border-radius: 10px;
}



.dev-container{
  background-image: linear-gradient(to top left, #CB5DCD, #4171BF);
  display: flex;
  margin: 10px;
  justify-content: space-between;
}


.dev{
  height: 380px;
  margin: 10px;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
}

.dev-image{
  height: 100px;
  width: 100px;
  z-index: 2;
}
/* landing-page  */

/* show-page */
.show-page-card-container{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  height: 550px;
  max-width: 470px;
  margin-left: 35%;
  margin-top: 5%;
  background-image: linear-gradient(to top left, #CB5DCD, #4171BF);
  border-radius: 40px;
}

.artist-name{

  margin-bottom: -70px;
  margin-left: 38%;
  font-size: 50px;
  font-weight: 500;
}
.show-page-card{
  margin-left: 8%;
  background: transparent;
  position: relative;
  top: -4%;
}
.card {
  border: 2px solid #fff;
  box-shadow: 0 0 10px #fff;
  animation: neon-glow 3s ease-in-out infinite;
  width: 25rem;
  margin-top: 50px;
  padding: 5px;
}


@keyframes neon-glow {
  0% {
    border-color: #00ff00;
    box-shadow: 0 0 10px #00ff00;
  }
  50% {
    border-color: #00ffff;
    box-shadow: 0 0 20px #00ffff;
  }
  100% {
    border-color: #F820F4;
    box-shadow: 0 0 10px #F820F4;
  }
}
/* show-page */

/* index-page */
.index-card-container {
  background-image: linear-gradient(to top left, #CB5DCD, #4171BF);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-row-gap: 10px;
  grid-column-gap: 0px;
  justify-items: center;
  align-items: center;
  max-width: 770px;
  margin: 0 auto;
  margin-top: -100px;
  height: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 30px;
}

.index-card{
  border: 2px solid #fff;
  box-shadow: 0 0 10px #fff;
  animation: neon-glow 3s ease-in-out infinite;
}
.index-img {
  height: 150px;
  width: 308px;
  object-fit: cover;
}

.carousel-container {
  display: flex;
  object-fit: contain;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 200px;
  margin-top: 20px;
  margin-bottom: 120px;
  margin-left: 43%;
}

.carousel-img{
  width: 770px;
  height: 350px;
  border-radius: 30px 30px 30px 30px;
  object-fit: cover;
}
.carousel-caption {
  background-color: transparent;
}
.carousel-text, p, h3{
  background: transparent;
}
/* index-page */
/* my-event-page */
.my-event-page-card-container{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  max-width: 920px;
  margin-left: 20%;
  background-image: linear-gradient(to top left, #CB5DCD, #4171BF);
  border-radius: 40px;
}
.my-event-card{
  max-height: 500px;
  width: 388px;
  margin: 35px;

}
.my-event-page-img{
  object-fit: cover;
  height: 200px;
  width: 100px;
}

.my-event-title{
  text-align: center;
}

.my-event-card-subtitle{
  height: 30px;
}

.my-event-buttons{
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  background-color: transparent;


}
/* my-event-page */
/* event-new-page */
.event-new-page-container{
  display: flex;
  justify-content: center;
  width: 80%;
  margin: auto;
  padding: 50px;
  border-radius: 30px;
  background-image: linear-gradient(to top left, #CB5DCD, #4171BF);
  margin-top: 50px;
}
.event-new-h1{
  text-align: center;
}
.event-new-form{
  background: transparent;
}
/* login-in */
.login-page{
  background-image: linear-gradient(to top left, #CB5DCD, #4171BF);
  height: 450px;
  width: 40%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 25px;
  margin-left: 30%;
  margin-top: 100px;
  border-radius: 10px;
}
.login-h1{
  background: transparent;
  text-align: center;
}

.login-form {
  background: transparent;
}
/* login-in */

/* sign-up-page */
.sign-up-page{
  background-image: linear-gradient(to top left, #CB5DCD, #4171BF);
  height: 450px;
  width: 40%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 25px;
  margin-left: 30%;
  margin-top: 100px;
  border-radius: 10px;
}
.sign-up-h1{
  background: transparent;
  text-align: center;
}
.sign-up-form {
  background: transparent;
}
/* sign-up-page */

/* footer-page */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 20px;
  color: white;
}
/* footer-page */


/* not-found-page */
.not_found_video{
  object-fit: cover;
  width: 100%;  
  height: 300px; 
  z-index: 0;
} 
/* not-found-page */