
* {
  background-color: black;
  color: white;
}

/* header */
.shadow-lg{
  position: sticky;
  top: 0;
  z-index: 100;
}

.Logo {
  width: 200px;
  height: 100px;
}

.plx1 {
  object-fit: cover;
}
.background_img {
  width: 100%;
  height: 700px;
}
/* header */

/* landing-page */
.web-features{
  background-image: linear-gradient(to bottom right, black, #0B3945);
  height: 450px;
  width: 70%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 15px;
  margin-left: 15%;
  margin-top: 100px;
  border-radius: 10px;
}

.web-features p, a {
  text-align: center;
  padding: 15px;
  background: transparent;
}

.landing-page-h1-h2-h4 {
  text-align: center;
  padding: 15px;
  background: transparent;
  font-size: 30px;
  font-weight: bold;
  color: #fff;
  text-shadow: 0 0 20px #00ff00;
}

.concert-envy-meter{
  background-image: linear-gradient(to top left, black, #0B3945);
  height: 350px;
  width: 60%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 15px;
  margin-top: 50px;
  margin-left: 20%;
  border-radius: 10px;
}

.dev-team{
  background-color: #0B3945;
  height: 500px;
  width: 70%;
  margin-left: 15%;
  margin-top: 50px;
  border-radius: 10px;
}

.dev-container{
  background-image: linear-gradient(to top left, black, #0B3945);
  display: flex;
  margin: 10px;
  justify-content: space-between;
}

.dev{
  height: 380px;
  margin: 10px;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
}

.dev-image{
  height: 100px;
  width: 100px;
  z-index: 2;
}
/* landing-page  */

/* show-page */

.artist-name{
  margin-top: 5%;
  margin-bottom: -40px;
  margin-left: 38%;
  font-size: 50px;
  font-weight: 500;
}

.card {
  border: 2px solid #fff;
  box-shadow: 0 0 10px #fff;
  animation: neon-glow 3s ease-in-out infinite;
}

@keyframes neon-glow {
  0% {
    border-color: #00ff00;
    box-shadow: 0 0 10px #00ff00;
  }
  50% {
    border-color: #00ffff;
    box-shadow: 0 0 20px #00ffff;
  }
  100% {
    border-color: #F820F4;
    box-shadow: 0 0 10px #F820F4;
  }
}
/* show-page */

/* index-page */
.index-card-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  max-width: 680px;
  margin: 0 auto;
  margin-top: -100px;
  height: 100vh;
}

.index-img {
  height: 150px;
  width: 308px;
  object-fit: cover;
}

.carousel-container {
  display: flex;
  object-fit: contain;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 200px;
  margin-top: 20px;
  margin-bottom: 120px;
  margin-left: 43%;
}

.carousel-img{
  width: 680px;
  height: 350px;
  border-radius: 30px 30px 30px 30px;
}
.carousel-caption {
  background-color: transparent;
}
/* index-page */
/* my-event-page */
.my-event-page-card-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
/* my-event-page */

/* login-in */
.login-page{
  background-image: linear-gradient(to top left, black, #0B3945);
  height: 450px;
  width: 40%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 25px;
  margin-left: 30%;
  margin-top: 100px;
  border-radius: 10px;
}

.login-h1{
  background: transparent;
  text-align: center;
}

.login-form {
  background: transparent;
}
/* login-in */

/* sign-up-page */
.sign-up-page{
  background-image: linear-gradient(to top left, black, #0B3945);
  height: 450px;
  width: 40%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 25px;
  margin-left: 30%;
  margin-top: 100px;
  border-radius: 10px;
}
.sign-up-h1{
  background: transparent;
  text-align: center;
}
.sign-up-form {
  background: transparent;
}
/* sign-up-page */

/* footer-page */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 20px;
  color: white;
}
/* footer-page */


/* not-found-page */
.not_found_video{
  object-fit: cover;
  width: 100%;  
  height: 300px; 
  z-index: 0;
} 
/* not-found-page */